# Claim to support / refute:

#### - “The   financial   markets   do   not   punish   security   breaches.”

## Organizing & Cleaning the Data

In [1]:
# Imports

import pandas as pd
import xlrd as xl

In [2]:
# Load data into Excel file
data = pd.ExcelFile("InfoisBeautiful-DataBreaches.xlsx")

In [3]:
# See sheet names in excel file
data.sheet_names

['2017 update', 'Jan 2015 update', 'July 2013 update (old)']

In [4]:
# Load first sheet into dataframe

DF = data.parse('2017 update')

In [5]:
# Preview data columns
DF.columns

Index(['Entity', 'alternative name', 'story', 'YEAR', 'records lost',
       'ORGANISATION', 'METHOD OF LEAK', 'interesting story',
       'NO OF RECORDS STOLEN', 'DATA SENSITIVITY', 'UNUSED', 'UNUSED.1',
       'Exclude', 'Unnamed: 13', '1st source link', '2nd source link',
       '3rd source', 'source name'],
      dtype='object')

In [6]:
# Remove unnecessary columns

StripCols = DF[["Entity", "YEAR", "records lost", "ORGANISATION", "METHOD OF LEAK", "DATA SENSITIVITY"]]
StripCols.head()

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
0,NaN,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,1. Just email address/Online information 20 SS...
1,AOL,0,92000000,web,inside job,1
2,Automatic Data Processing,1,125000,financial,poor security,20
3,Ameritrade Inc.,1,200000,financial,lost / stolen device,20
4,Citigroup,1,3900000,financial,lost / stolen device,300

In [7]:
# remove first row with NaN values

cleaned = StripCols.dropna()
cleaned.head()

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
1,AOL,0,92000000,web,inside job,1
2,Automatic Data Processing,1,125000,financial,poor security,20
3,Ameritrade Inc.,1,200000,financial,lost / stolen device,20
4,Citigroup,1,3900000,financial,lost / stolen device,300
5,Cardsystems Solutions Inc.,1,40000000,financial,hacked,300

Convert year values to real years

In [8]:
cleaned['YEAR'].astype(int)   # Convert data type
cleaned2 = cleaned.copy()
cleaned2['Real Year'] = cleaned['YEAR'] + 2004

cleaned3 = cleaned2[["Entity", "Real Year", "records lost", "ORGANISATION", "METHOD OF LEAK", "DATA SENSITIVITY"]]
cleaned3.tail()

,Entity,Real Year,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
249,CEX,2018,2000000,retail,accidentally published,300
250,Swedish Transport Agency,2018,3000000,government,poor security,50000
251,Instagram,2018,6000000,web,hacked,1
252,Equifax,2018,143000000,financial,hacked,50000
253,Spambot,2018,711000000,web,poor security,4000

#### Some data in various rows had errors and need altering for consistency:

Most recent breaches appear as "2018". Change to "2017".

In [9]:
cleaned4 = cleaned3.copy()
cleaned4.loc[cleaned3['Real Year'] > 2017, 'Real Year'] = 2017
cleaned4.tail()

,Entity,Real Year,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
249,CEX,2017,2000000,retail,accidentally published,300
250,Swedish Transport Agency,2017,3000000,government,poor security,50000
251,Instagram,2017,6000000,web,hacked,1
252,Equifax,2017,143000000,financial,hacked,50000
253,Spambot,2017,711000000,web,poor security,4000

One occurence of "web, tech" should change to "tech, web" for consistency with other "tech, web" rows

In [10]:
cleaned5 = cleaned4.copy()
cleaned5.loc[cleaned4['ORGANISATION'] == 'web, tech', 'ORGANISATION'] = 'tech, web'

Change one occurence of data sensitivity "3" to "300"

In [11]:
cleaned6 = cleaned5.copy()
cleaned6.loc[cleaned5['DATA SENSITIVITY'] == 3, 'DATA SENSITIVITY'] = 300

"twitch.tv" organization is listed as "healthcare". Change to "web, gaming"

In [12]:
cleaned7 = cleaned6.copy()
cleaned7.loc[cleaned6['Entity'] == 'Twitch.tv', 'ORGANISATION'] = 'gaming'

In [13]:
cleaned7.loc[cleaned7['Entity'] == 'Twitch.tv']

,Entity,Real Year,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
180,Twitch.tv,2014,10000000,gaming,hacked,1

## Gathering stock market data for each entity

#### Gather list of company stock ticker symbols:

In [51]:
import re
from fuzzywuzzy import string_processing       # fuzzywuzzy package used to manage ascii / unicode errors
from fuzzywuzzy import utils

# New column for ticker names
cleaned7['Stock Ticker'] = 'N/A'

    # All Entity names to a list
names = cleaned7.Entity.unique().tolist()
    # Remove ASCII characters from names
names2 = []

    # cleaning names for higher chance of successful search query
for i in names:
 i = i.replace("\"", "")
 i = i.replace("\'", "")
 i = i.replace(",", " ")
 i = utils.full_process(i)
 names2.append(i)
                        # Dictionaries:
Original = {}       # Original names from raw data
RealNames = {}      # Names w/ special characters removed
WebNames = {}       # Names for entering into URL

     # non-breaking space for web search: '%20' or '&nbsp;'
for i in range(0, len(names)):
 Original[i] = names[i]              # Need this to match back to DF
 RealNames[i] = names2[i]
 WebNames[i] = names2[i].replace(' ', '&nbsp;')

Find ticker symbols of each company and put into new column

In [52]:
import urllib.request

for i in RealNames:
                            # Perform the search query
    webLink = 'http://d.yimg.com/autoc.finance.yahoo.com/autoc?query=' + WebNames[i] + '&region=1&lang=en'
    with urllib.request.urlopen(webLink) as response:
       html = response.read()
    
    Buis = str(html)        # Convert byte type to string
    
                            # Result if query returns nothing
    empty = len(RealNames[i]) + len('{"ResultSet":{"Query":"","Result":[]}}')

    Ticker = []             # List of tickers from search query

    if len(Buis) > empty:             # If search query finds any info,
        BuisInfo = Buis.split(',')    # Split string into array

        for entry in BuisInfo:
            if "symbol" in entry:     # Append ticker symbols to list
                symbol = entry.split("\"")     # extract ticker symbol
                Ticker.append(symbol[-2])
    if len(Ticker) > 0:
        result = min(Ticker, key=len)
        cleaned7['Stock Ticker'][cleaned7['Entity'] == Original[i]] = result

Number of rows that did not get a stock ticker:

In [53]:
cleaned7['Entity'][cleaned7['Stock Ticker'] == 'N/A'].count()

69

#### Gathering stock price data for the year each company had data breach:

In [59]:
from pandas_datareader import data, wb
import pandas_datareader.data as web
import datetime

In [68]:
start = datetime.datetime(2004, 1, 1)
end = datetime.datetime(2004,12,31)
f = web.DataReader("AAPL", "yahoo", start, end)
f

                Open      High       Low     Close  Adj Close     Volume
Date
2004-01-02  1.539286  1.553571  1.512857  1.520000   1.367477   36160600
2004-01-05  1.530000  1.599286  1.530000  1.583571   1.424670   98754600
2004-01-06  1.589286  1.601429  1.550714  1.577857   1.419529  127337000
2004-01-07  1.578571  1.630714  1.566429  1.613571   1.451659  146718600
2004-01-08  1.631429  1.695000  1.617857  1.668571   1.501141  115075800
2004-01-09  1.659286  1.723571  1.627857  1.642857   1.478006  106864800
2004-01-12  1.660714  1.714286  1.650000  1.695000   1.524917  121886800
2004-01-13  1.764286  1.774286  1.704286  1.722857   1.549979  169754200
2004-01-14  1.742857  1.752857  1.698571  1.728571   1.555120  155010800
2004-01-15  1.636429  1.671429  1.607143  1.632143   1.468367  254552200
2004-01-16  1.635000  1.645714  1.615000  1.622857   1.460013   93205000
2004-01-20  1.619286  1.628571  1.589286  1.623571   1.460656   78986600
2004-01-21  1.621429  1.640714  1.602143  1.615000   1.452945   56665000
2004-01-22  1.611429  1.630714  1.584286  1.584286   1.425312   51251200
2004-01-23  1.601429  1.624286  1.589286  1.611429   1.449731   56792400
2004-01-26  1.604286  1.647143  1.602143  1.643571   1.478649   67817400
2004-01-27  1.645714  1.660714  1.628571  1.647857   1.482505   76767600
2004-01-28  1.631429  1.670000  1.600714  1.608571   1.447161   68850600
2004-01-29  1.616429  1.628571  1.585000  1.620000   1.457443   53174800
2004-01-30  1.617857  1.633571  1.601429  1.611429   1.449731   46324600
2004-02-02  1.604286  1.629286  1.577143  1.594286   1.434309   71857800
2004-02-03  1.592857  1.600000  1.571429  1.590000   1.430453   45203200
2004-02-04  1.571429  1.577857  1.550000  1.556429   1.400250   76388200
2004-02-05  1.558571  1.636429  1.557857  1.601429   1.440735   88211200
2004-02-06  1.603571  1.635000  1.600000  1.622143   1.459371   48335000
2004-02-09  1.615714  1.632857  1.607143  1.619286   1.456800   47065200
2004-02-10  1.615714  1.651429  1.602857  1.641429   1.476721   63835800
2004-02-11  1.649286  1.705000  1.646429  1.700000   1.529415   87136000
2004-02-12  1.686429  1.713571  1.685714  1.695000   1.524917   45997000
2004-02-13  1.703571  1.721429  1.630714  1.642857   1.478006   78995000
...              ...       ...       ...       ...        ...        ...
2004-11-18  3.878572  3.960714  3.877857  3.956429   3.559424  114787400
2004-11-19  3.963571  4.065000  3.892857  3.940714   3.545288  191319800
2004-11-22  4.414286  4.571429  4.135714  4.382143   3.942422  642052600
2004-11-23  4.450000  4.460714  4.360714  4.376429   3.937281  227862600
2004-11-24  4.406428  4.657143  4.396429  4.575000   4.115926  347697000
2004-11-26  4.667857  4.697143  4.595714  4.610714   4.148057  137536000
2004-11-29  4.925000  4.969285  4.815000  4.888571   4.398032  428229200
2004-11-30  4.913571  4.913571  4.789286  4.789286   4.308711  257129600
2004-12-01  4.842143  4.853571  4.733572  4.842143   4.356262  200138400
2004-12-02  4.723571  4.778572  4.618571  4.657857   4.190470  246860600
2004-12-03  4.609286  4.642857  4.410714  4.477143   4.027888  309712200
2004-12-06  4.589286  4.731429  4.496428  4.698571   4.227098  311980200
2004-12-07  4.709286  4.766428  4.468572  4.492143   4.041383  264224800
2004-12-08  4.505714  4.602143  4.432143  4.520000   4.066445  172975600
2004-12-09  4.486429  4.600000  4.433571  4.570714   4.112070  185375400
2004-12-10  4.645000  4.717857  4.621428  4.653572   4.186613  193943400
2004-12-13  4.687143  4.707143  4.614286  4.636428   4.171190   98760200
2004-12-14  4.671429  4.705714  4.644286  4.663571   4.195610  103930400
2004-12-15  4.660000  4.675714  4.618571  4.661428   4.193681   99590400
2004-12-16  4.725000  4.821429  4.717857  4.757143   4.279792  281528800
2004-12-17  4.774286  4.788571  4.635714  4.642143   4.176332  195874000
2004-12-20  4.676429  4.714286  4.411428  4.480000   4.030459  292031600
2004-12-21  4.540000  4.555000  4.400000  4.549286   4.092793  266103600
2004-12-22  4.547143  4.597143  4.528572  4.553571   4.096647  141457400
2004-12-23  4.553571  4.589286  4.542857  4.572143   4.113356   61482400
2004-12-27  4.628572  4.653572  4.491428  4.511428   4.058734  139872600
2004-12-28  4.521429  4.589286  4.432143  4.584286   4.124279  152938800
2004-12-29  4.557857  4.641428  4.540714  4.602857   4.140987  112390600
2004-12-30  4.629286  4.645000  4.587143  4.628572   4.164123   86335200
2004-12-31  4.635000  4.642857  4.573571  4.600000   4.138418   69647200

[252 rows x 6 columns]

In [67]:
cleaned7.loc[cleaned7['Entity'] == 'Apple']

,Entity,Real Year,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY,Stock Ticker
146,Apple,2013,275000,tech,hacked,1,AAPL

In [ ]:
# Export to CSV

cleaned7.to_csv("DataBreaches.csv", header=True, encoding='utf-8')