# Most Popular Methods of Stealing Data

#### This visualization is intended for business leaders deciding what security threats they should be most worried about when determining how to improve network security.

Tableau Public Link:
https://public.tableau.com/profile/melvin7659#!/vizhome/DataBreaches_33/DataBreachMethodsUsedOverTime

2017 table will be the only table used.

In [1]:
import pandas as pd
import xlrd as xl

In [2]:
# Load data into Excel file
data = pd.ExcelFile('Information is Beautiful- Data Breaches (public).xlsx')

In [3]:
# See sheet names in excel file
data.sheet_names

[u'2017 update', u'Jan 2015 update', u'July 2013 update (old)']

In [4]:
# Load first sheet into dataframe

DF = data.parse('2017 update')

In [5]:
# Preview data columns
DF.columns

Index([              u'Entity',     u'alternative name',
                      u'story',                 u'YEAR',
               u'records lost',         u'ORGANISATION',
             u'METHOD OF LEAK',    u'interesting story',
       u'NO OF RECORDS STOLEN',     u'DATA SENSITIVITY',
                     u'UNUSED',             u'UNUSED.1',
                    u'Exclude',          u'Unnamed: 13',
            u'1st source link',      u'2nd source link',
                 u'3rd source',          u'source name'],
      dtype='object')

In [6]:
# Remove unnecessary columns

cleaned = DF[["YEAR", "METHOD OF LEAK"]]
cleaned.head()

                                                YEAR        METHOD OF LEAK
0  years are encoded (0=2004, 8 = 2012, 9 = 2013,...                   NaN
1                                                  0            inside job
2                                                  1         poor security
3                                                  1  lost / stolen device
4                                                  1  lost / stolen device

In [7]:
# Remove first row with NaN value
# dropna() is from pandas.  Removes all rows that contain NaN

cleaned2 = cleaned.dropna()
cleaned2.head()

  YEAR        METHOD OF LEAK
1    0            inside job
2    1         poor security
3    1  lost / stolen device
4    1  lost / stolen device
5    1                hacked

In [8]:
# Convert YEAR values to real years

cleaned2['YEAR'].astype(int)   # Convert data type
cleaned3 = cleaned2.copy()
cleaned3['Real Year'] = cleaned2['YEAR'] + 2004

# Remove old year column
cleaned4 = cleaned3[["Real Year", "METHOD OF LEAK"]]
cleaned4.head()

  Real Year        METHOD OF LEAK
1      2004            inside job
2      2005         poor security
3      2005  lost / stolen device
4      2005  lost / stolen device
5      2005                hacked

In [9]:
# Export to .csv

cleaned4.to_csv("DataBreaches.csv", header=True)

### From this chart we can see that "lost/stolen devices" were formerly the primary way for thieves to steal data, but over many years hacking has become the dominant method.  All businesses today should invest in firewalls and more robust remote network connection protocols to safeguard data from remote hackers.